.soon_lents {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 12%;
    top: 80px;

}

.soon_lents h3 {
    width: 210px;
    color: #dcdcdca9;
}

.soon_lents div {
    margin-right: 20px;
    margin-bottom: 20px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.363);
    padding: 20px;
    padding-bottom: 0;
    border-radius: 3px;

}

.soon_lents a {
    text-decoration: none;
}

.soon_lents a:hover {
    text-decoration: underline;
    text-decoration-color: #a4a4a4;
}

.soon_lents img {
    width: 210px;
}