.search {
    display: flex;
    position: absolute;
    left: 50%;
    top: 13px;
    transform: translate(-50%);
}
.search input {
    width: 200px;
    height: 30px;
    background-color: #ffffff17;
    border-radius: 5px;
    color: antiquewhite;
}

#search_button {
  background-color: #00000000;
  border: none;
}
.search_button_img {
    position: absolute;
    width: 30px;
    top: 0;
    
}

/*
#в {
    color: rgb(197, 39, 0)
    
}
*/
